<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.editrefdata"
    canVisit="perm.System.viewrefdata"
    id="ICD"
    title="DisplayKey.get(&quot;Web.Admin.ICDPage&quot;)">
    <Variable
      name="ICDs"
      type="gw.api.database.IQueryBeanResult&lt;ICDCode&gt;"/>
    <Variable
      initialValue="new gw.icd.ICDSearchCriteria()"
      name="searchCriteria"
      type="gw.icd.ICDSearchCriteria"/>
    <Screen
      editable="true">
      <TitleBar
        title="DisplayKey.get(&quot;Web.Admin.ICD.ICDCodes&quot;)"/>
      <Toolbar>
        <ToolbarButton
          action="gw.api.util.SearchUtil.search()"
          default="true"
          id="Search_Button"
          label="DisplayKey.get(&quot;Web.Admin.ICD.Search&quot;)"/>
        <ToolbarButton
          action="searchCriteria.clear();gw.api.util.SearchUtil.reset()"
          id="Reset"
          label="DisplayKey.get(&quot;Button.Reset&quot;)"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="NewICDPopup.push()"
          id="Add_ICD_Code_Button"
          label="DisplayKey.get(&quot;Web.Admin.ICD.NewCode&quot;)"
          visible="true"/>
      </Toolbar>
      <SearchPanel
        criteriaName="icdSearchCriteria"
        resultsName="SearchResults"
        search="libraries.ICDCodeUtil.ICDSearch(searchCriteria.ICDCode, searchCriteria.ICDBodySystem, searchCriteria.Description, searchCriteria.ICDEdition, true )"
        searchCriteria="searchCriteria"
        searchCriteriaType="gw.icd.ICDSearchCriteria"
        searchResultsType="gw.api.database.IQueryBeanResult&lt;ICDCode&gt;">
        <DetailViewPanel
          editable="true">
          <InputColumn>
            <InputSet
              editable="true">
              <TextInput
                boldLabel="true"
                editable="true"
                id="icdCode"
                label="DisplayKey.get(&quot;Web.Admin.ICD.FindCode&quot;)"
                required="false"
                value="searchCriteria.ICDCode"/>
              <TextInput
                boldLabel="true"
                editable="true"
                id="description"
                label="DisplayKey.get(&quot;Web.Admin.ICD.CodeDescription&quot;)"
                required="false"
                value="searchCriteria.Description"/>
              <RangeInput
                boldLabel="true"
                editable="true"
                id="findBodySystem"
                label="DisplayKey.get(&quot;Web.Admin.ICD.BodySystem&quot;)"
                required="false"
                value="searchCriteria.ICDBodySystem"
                valueRange="libraries.ICDCodeUtil.returnICDBodySystems(searchCriteria.ICDEdition)"
                valueType="typekey.ICDBodySystem"></RangeInput>
            </InputSet>
          </InputColumn>
          <InputColumn>
            <InputSet
              editable="true">
              <RangeInput
                boldLabel="true"
                editable="true"
                id="findICDEdition"
                label="DisplayKey.get(&quot;Web.Admin.ICD.Edition&quot;)"
                required="false"
                value="searchCriteria.ICDEdition"
                valueRange="ICDEdition.getTypeKeys(true)"
                valueType="typekey.ICDEdition">
                <PostOnChange/>
              </RangeInput>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
        <PanelRef
          def="ICDLV(SearchResults)"
          editable="false"
          id="ICDPanel">
          <TitleBar
            id="Search_Results"
            title="DisplayKey.get(&quot;Web.Search.Results&quot;)"/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>