<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="EditExchangeRatesConfirmationScreen">
    <Require
      name="editionHelper"
      type="gw.api.exchangerates.ExchangeRatesEditionUIHelper"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <PanelRef
      def="ExchangeRateSetDV(editionHelper.ImportHelper.ExchangeRateSet)"
      editable="false"/>
    <PanelRef
      def="ImportExchangeRatesDV(editionHelper.ImportHelper)"/>
    <PanelRef
      def="ExchangeRatesLV(editionHelper.ImportHelper.ExchangeRateSet)">
      <Toolbar>
        <IteratorButtons
          iterator="ExchangeRatesLV.ExchangeRatesLV"/>
      </Toolbar>
    </PanelRef>
  </Screen>
</PCF>