<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ExchangeRateSetDV">
    <Require
      name="exchangeRateSet"
      type="FXExchangeRateSet"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="baseCurrency"
        label="DisplayKey.get(&quot;ExchangeRates.ExchangeRateSetDV.BaseCurrency&quot;)"
        required="true"
        value="exchangeRateSet.BaseCurrency"
        valueRange="gw.api.util.CurrencyUtil.DefaultBaseCurrencies"
        valueType="typekey.Currency">
        <PostOnChange/>
      </RangeInput>
      <RangeInput
        editable="true"
        id="rateType"
        label="DisplayKey.get(&quot;ExchangeRates.ExchangeRateSetDV.RateType&quot;)"
        required="true"
        value="exchangeRateSet.RateType"
        valueRange="FXRateMarket.TF_ADMINSCREENSELECTOR.TypeKeys"
        valueType="typekey.FXRateMarket"/>
      <DateInput
        editable="true"
        id="effectiveDate"
        label="DisplayKey.get(&quot;ExchangeRates.ExchangeRateSetDV.EffectiveDate&quot;)"
        required="true"
        value="exchangeRateSet.EffectiveDate"/>
      <DateInput
        editable="true"
        id="expirationDate"
        label="DisplayKey.get(&quot;ExchangeRates.ExchangeRateSetDV.ExpirationDate&quot;)"
        value="exchangeRateSet.ExpirationDate"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>