<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="gw.api.exchangerates.ExchangeRatesUIHelper.canView()"
    id="ExchangeRates"
    menuLinks="BlankMenuLinks()"
    title="DisplayKey.get(&quot;ExchangeRates.ExchangeRates.Title&quot;)">
    <LocationRef
      location="ExchangeRatesSearch()"/>
  </LocationGroup>
</PCF>