<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ExchangeRatesSearchDV">
    <Require
      name="SearchCriteria"
      type="gw.api.exchangerates.SearchCriteria"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="baseCurrency"
        label="DisplayKey.get(&quot;ExchangeRates.ExchangeRatesSearchDV.BaseCurrency&quot;)"
        required="true"
        value="SearchCriteria.BaseCurrency"
        valueRange="SearchCriteria.AvailableBaseCurrencies"
        valueType="typekey.Currency">
        <PostOnChange/>
      </RangeInput>
      <RangeInput
        editable="true"
        id="rateType"
        label="DisplayKey.get(&quot;ExchangeRates.ExchangeRatesSearchDV.RateType&quot;)"
        required="false"
        value="SearchCriteria.RateType"
        valueRange="FXRateMarket.TF_ADMINSCREENSELECTOR.TypeKeys"
        valueType="typekey.FXRateMarket"/>
      <RangeInput
        editable="true"
        id="priceCurrency"
        label="DisplayKey.get(&quot;ExchangeRates.ExchangeRatesSearchDV.PriceCurrency&quot;)"
        required="false"
        value="SearchCriteria.PriceCurrency"
        valueRange="typekey.Currency.getTypeKeys(false).where(\currency -&gt; currency != SearchCriteria.BaseCurrency)"
        valueType="typekey.Currency"/>
      <DateInput
        editable="true"
        id="dateFrom"
        label="DisplayKey.get(&quot;ExchangeRates.ExchangeRatesSearchDV.DateFrom&quot;)"
        required="true"
        value="SearchCriteria.DateFrom"/>
      <DateInput
        editable="true"
        id="dateTo"
        label="DisplayKey.get(&quot;ExchangeRates.ExchangeRatesSearchDV.DateTo&quot;)"
        required="false"
        value="SearchCriteria.DateTo"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>