<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="GenderIdentityInputSet">
    <Require
      name="person"
      type="Person"/>
    <Label
      label="DisplayKey.get(&quot;Web.ContactDetail.Person.GenderIdentity&quot;)"/>
    <TypeKeyInput
      editable="true"
      id="Gender"
      label="DisplayKey.get(&quot;Web.ContactDetail.AdditionalInfo.Gender&quot;)"
      value="person.Gender"
      valueType="typekey.GenderType"/>
    <TextInput
      id="PronounAggregateDisplay"
      label="DisplayKey.get(&quot;Web.ContactDetail.Person.Pronouns&quot;)"
      value="person.PronounAggregateDisplay"
      visible="not CurrentLocation.InEditMode"/>
    <TypeKeyInput
      editable="true"
      id="PronounAggregate"
      label="DisplayKey.get(&quot;Web.ContactDetail.Person.Pronouns&quot;)"
      value="person.PronounAggregate"
      valueType="typekey.PronounAggregateType"
      visible="CurrentLocation.InEditMode">
      <PostOnChange
        deferUpdate="false"/>
    </TypeKeyInput>
    <ListViewInput
      hideIfReadOnly="true"
      labelAbove="true"
      visible="person.PronounAggregate == PronounAggregateType.TC_SELFIDENTIFY">
      <Toolbar/>
      <ListViewPanel
        id="SelfIdentifyLV"
        listViewStyle="minimalStyle">
        <Row
          renderAsSmartHeader="true"
          useTitleStyle="true">
          <TextCell
            align="center"
            bold="true"
            id="PronounSubjectiveLabel"
            value="DisplayKey.get(&quot;Web.ContactDetail.Person.PronounSubjective&quot;)"/>
          <TextCell
            align="center"
            bold="true"
            id="PronounDiv1"
            value="DisplayKey.get(&quot;Web.ContactDetail.Person.PronounDivider&quot;)"/>
          <TextCell
            align="center"
            bold="true"
            id="PronounObjectiveLabel"
            value="DisplayKey.get(&quot;Web.ContactDetail.Person.PronounObjective&quot;)"/>
          <TextCell
            align="center"
            bold="true"
            id="PronounDiv2"
            value="DisplayKey.get(&quot;Web.ContactDetail.Person.PronounDivider&quot;)"/>
          <TextCell
            align="center"
            bold="true"
            id="PronounPossessiveLabel"
            value="DisplayKey.get(&quot;Web.ContactDetail.Person.PronounPossessive&quot;)"/>
        </Row>
        <Row>
          <TextCell
            editable="true"
            hideIfReadOnly="true"
            id="PronounSubjectiveText"
            value="person.PronounSubjectiveText"
            valueType="java.lang.String"/>
          <TextCell
            align="center"
            bold="true"
            id="PronounDiv3"
            value="DisplayKey.get(&quot;Web.ContactDetail.Person.PronounDivider&quot;)"/>
          <TextCell
            editable="true"
            id="PronounObjectiveText"
            value="person.PronounObjectiveText"
            valueType="java.lang.String"/>
          <TextCell
            align="center"
            bold="true"
            id="PronounDiv4"
            value="DisplayKey.get(&quot;Web.ContactDetail.Person.PronounDivider&quot;)"/>
          <TextCell
            editable="true"
            id="PronounPossessiveText"
            value="person.PronounPossessiveText"
            valueType="java.lang.String"/>
        </Row>
      </ListViewPanel>
    </ListViewInput>
  </InputSet>
</PCF>