<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    afterEnter="codeSearchResults = (codeParam != null ? libraries.ICDCodeUtil.ICDSearch( codeParam, null, false ) : null)"
    alwaysInEditMode="false"
    canEdit="true"
    canVisit="true"
    id="ICDCodePopup"
    returnType="ICDCode"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Admin.ICD.SearchForCodes&quot;)">
    <LocationEntryPoint
      signature="ICDCodePopup(codeParam : String)"/>
    <Variable
      name="codeParam"
      type="String"/>
    <Variable
      name="codeSearchResults"
      type="gw.api.database.IQueryBeanResult&lt;ICDCode&gt;"/>
    <Variable
      initialValue="codeParam"
      name="findCode"
      type="String"/>
    <Variable
      name="findBodySystem"
      type="ICDBodySystem"/>
    <Variable
      name="findDesc"
      type="String"/>
    <Variable
      initialValue="ICDEdition.TC_ICD10"
      name="findEdition"
      type="ICDEdition"/>
    <Variable
      name="claim"
      type="Claim"/>
    <Screen
      editable="true">
      <Toolbar>
        <ToolbarButton
          action="codeParam = findCode; codeSearchResults = libraries.ICDCodeUtil.ICDSearch(findCode, findBodySystem, findDesc, findEdition, false) "
          default="true"
          id="SearchButton"
          label="DisplayKey.get(&quot;Web.Admin.ICD.Search&quot;)"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="CancelButton"
          label="DisplayKey.get(&quot;Web.Admin.ICD.Cancel&quot;)"/>
      </Toolbar>
      <DetailViewPanel
        editable="true">
        <InputColumn>
          <InputSet
            editable="true">
            <TextInput
              boldLabel="true"
              editable="true"
              id="icdCode"
              label="DisplayKey.get(&quot;Web.Admin.ICD.FindCode&quot;)"
              required="false"
              value="findCode"/>
            <TextInput
              boldLabel="true"
              editable="true"
              id="description"
              label="DisplayKey.get(&quot;Web.Admin.ICD.CodeDescription&quot;)"
              required="false"
              value="findDesc"/>
            <RangeInput
              boldLabel="true"
              editable="true"
              id="findBodySystem"
              label="DisplayKey.get(&quot;Web.Admin.ICD.BodySystem&quot;)"
              required="false"
              value="findBodySystem"
              valueRange="libraries.ICDCodeUtil.returnICDBodySystems(findEdition)"
              valueType="typekey.ICDBodySystem"/>
          </InputSet>
        </InputColumn>
        <InputColumn>
          <InputSet
            editable="true">
            <TypeKeyInput
              boldLabel="true"
              editable="true"
              id="findICDEdition"
              label="DisplayKey.get(&quot;Web.Admin.ICD.Edition&quot;)"
              required="false"
              value="findEdition"
              valueType="typekey.ICDEdition">
              <PostOnChange/>
            </TypeKeyInput>
          </InputSet>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <TitleBar
          id="Search_Results"
          title="DisplayKey.get(&quot;Web.Search.Results&quot;)"/>
        <ListViewPanel
          editable="false">
          <RowIterator
            editable="false"
            elementName="anICDResult"
            id="ICDResultsIterator"
            pageSize="40"
            pickValue="anICDResult"
            value="codeSearchResults"
            valueType="gw.api.database.IQueryBeanResult&lt;entity.ICDCode&gt;">
            <Row>
              <TextCell
                enableSort="false"
                id="ICDCode"
                label="DisplayKey.get(&quot;Web.Admin.ICD.ICDCodes&quot;)"
                value="anICDResult.Code"/>
              <TypeKeyCell
                id="icdEditionId"
                label="DisplayKey.get(&quot;Web.Admin.ICD.Edition&quot;)"
                value="anICDResult.Edition"
                valueType="typekey.ICDEdition"/>
              <TextCell
                enableSort="false"
                id="CodeDesc"
                label="DisplayKey.get(&quot;Web.Admin.ICD.CodeDescription&quot;)"
                value="anICDResult.CodeDesc"/>
              <BooleanRadioCell
                enableSort="false"
                id="Chronic"
                label="DisplayKey.get(&quot;Web.Admin.ICD.Chronic&quot;)"
                value="anICDResult.Chronic"/>
              <!-- <Cell
                enableSort="false"
                id="AvailabilityDate"
                label="DisplayKey.get(&quot;Web.Admin.ICD.AvailableFrom&quot;)"
                value="anICDResult.AvailabilityDate"/> -->
              <DateCell
                enableSort="false"
                id="ExpiryDate"
                label="DisplayKey.get(&quot;Web.Admin.ICD.ExpiresOn&quot;)"
                value="anICDResult.ExpiryDate"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>