<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    height="800"
    id="ICDData"
    popup="true"
    url="{ICDUrl}"
    width="1024">
    <LocationEntryPoint
      signature="ICDData(ICDUrl : String)"/>
    <ExitPointParameter
      locationParam="ICDUrl"
      type="String"
      urlParam="ICDUrl"/>
  </ExitPoint>
</PCF>